<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="carApp">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Angular test 4</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="react-angular-bootstrap-local/js/angular.min.js"></script>
</head>

<body>
	<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


	<section ng-controller="CarController as carCtrl">
        <input ng-click="carCtrl.changeVisibility()" type="button" value="Skjul/vis">
        
		<article ng-repeat="car in carCtrl.carlist" ng-show="carCtrl.shouldShow">
            <h3>{{car.modell}}</h3>
            <p>{{car.beskrivelse}}</p>
            <p>pris: {{car.pris}}</p>
            <img ng-src="{{car.bildeSrc}}" alt="{{car.modell}}">
		</article>
	</section>

	<script>

        var carApp = angular.module("carApp", []);

        carApp.controller("CarController", function(){
            this.shouldShow = false;

            this.changeVisibility = function(){
                this.shouldShow = !this.shouldShow;
            };
            this.carlist = [
                {
                    modell: "Toyota",
                    beskrivelse: "JAPANESUH",
                    pris: 3999,
                    bildeSrc: "img/car-1.jpg"
                },
                {
                    modell: "Huyndai",
                    beskrivelse: "KOREAH",
                    pris: 5040,
                    bildeSrc: "img/car-2.jpg"
                },
                {
                    modell: "Ford",
                    beskrivelse: "This is expensive, i cannot afFORD this....",
                    pris: 3999999,
                    bildeSrc: "img/car-3.jpg"
                }
            ];

        });


    </script>
</body>

</html>